# Node.js / Back-End
Asset__Watch/back-end/node_modules/
Asset__Watch/back-end/.env
Asset__Watch/back-end/*.log
Asset__Watch/back-end/*.pid
Asset__Watch/back-end/*.seed
Asset__Watch/back-end/*.pid.lock
Asset__Watch/back-end/log/
Asset__Watch/back-end/tmp/
Asset__Watch/back-end/pids/
Asset__Watch/back-end/heapdump/
Asset__Watch/backend/.end

# Debug log from npm
Asset__Watch/back-end/npm-debug.log*
Asset__Watch/back-end/yarn-debug.log*
Asset__Watch/back-end/yarn-error.log*

# Front-End / React
frontend/.env
Asset__Watch/frontend/.env
Asset__Watch/front-end/node_modules/
Asset__Watch/front-end/.env.local
Asset__Watch/front-end/.env.development.local
Asset__Watch/front-end/.env.test.local
Asset__Watch/front-end/.env.production.local
Asset__Watch/front-end/build/
Asset__Watch/front-end/.cache/
Asset__Watch/front-end/coverage/
Asset__Watch/front-end/.vscode/

# Dependency directories
Asset__Watch/front-end/node_modules/
Asset__Watch/front-end/jspm_packages/

# Production build files
Asset__Watch/front-end/build/
Asset__Watch/dist/

# Optional npm cache directory
Asset__Watch/.npm

# Optional eslint cache
Asset__Watch/.eslintcache

# Optional REPL history
Asset__Watch/.node_repl_history

# Output of 'npm pack'
Asset__Watch/*.tgz

# Yarn Integrity file
Asset__Watch/.yarn-integrity

# parcel-bundler cache (https://parceljs.org/)
Asset__Watch/front-end/.cache
Asset__Watch/front-end/.parcel-cache

# Next.js build output
Asset__Watch/front-end/.next
Asset__Watch/out

# Nuxt.js build output
Asset__Watch/front-end/.nuxt
Asset__Watch/front-end/dist

# Gatsby files
Asset__Watch/front-end/.cache/
Asset__Watch/front-end/public

# Vuepress build output
Asset__Watch/front-end/.vuepress/dist

# Serverless directories
Asset__Watch/front-end/.serverless

# FuseBox cache
Asset__Watch/front-end/.fusebox

# DynamoDB Local files
Asset__Watch/front-end/.dynamodb

# TernJS port file
Asset__Watch/front-end/.tern-port

# Stores VSCode versions used for testing VSCode extensions
Asset__Watch/front-end/.vscode-test

# yarn v2
Asset__Watch/.yarn/*
!Asset__Watch/.yarn/releases
!Asset__Watch/.yarn/plugins
!Asset__Watch/.yarn/sdks
!Asset__Watch/.yarn/versions
